/* START GENERAL */
body {
    font-family: 'Lato', sans-serif;
}

a{
        color: inherit; /* blue colors for links too */
        text-decoration: inherit; /* no underline */}
h3{
    color: #4AD7D1;
}
h1,h2,h3,h4,h5,h6 {
    font-weight: bold;
}
/*Pour adapter l'image avec son container*/
img {
    max-width:100%;
    height: 300px;
}

section {
    padding: 65px 0 80px 0;
}
/*principal heading of page*/
section .heading {
    text-align: center;
    padding-bottom: 40px;
}
section .heading h2{
    text-transform: uppercase;
}
.divider {
    width: 100px;
    height: 2px;
    background-color: #FE4A49;
    margin: 0 auto 20px;   
}
.divider.white {
    background-color: white;
}
ul {
    list-style: none;
}
/* END GENERAL */
/*----------------------------------------------------------------*/




/* START NAVBAR */
/*.navbar-toggler{
    color:#001730;
   /*-webkit-filter: invert(100%);*/
/* } */

.navbar {
    background-color:white;
    color: #FE4A49;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: bold;
    /*border-bottom: 1px solid #FF9900;*/
}
.navbar-nav {
    margin: 0 auto;
    text-align: center;
}
.nav-link {
    color: #001730 !important;
    margin: 0 6px;
}
.nav-link.active,
.nav-link:hover {
    background-color:white;
    color:#FE4A49 !important;
}
/* END NAVBAR */
/*----------------------------------------------------------------*/



/* START BOUT */
#about {  
    /*z-index: 2000;*/
    background-color: #001730;
}
.profile-picture {
    width: 350px;
    height: 400px;    
    text-align: center;
    margin: 0px auto 30px;
    
}
#about .heading h1 {
    color: white;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.me {
    color: #FE4A49;
 }
 
.button1 {
    font-weight: bold;
    color: #001730 ;
    background:white ;
    text-transform: uppercase;
   /* border: 1px solid #FF9900;*/
    padding: 18px 50px;
    display: inline-block;
    border-radius: 3px;
    text-decoration: none;
    margin-top: 20px;
    transition: all 0.3s ease-in 0s;
}
.button1:hover {
    background: #FE4A49 ;
    color: white;
    border: 1px solid #FE4A49;
}
/* END ABOUT */
/*----------------------------------------------------------------*/


/* SKILLS */
#skills .heading h2 {
    color: #FE4A49;
}
#skills .progress {
    height: 45px;
    margin: 30px 20px;
}
#skills .progress:last-child {
    margin-bottom: 0px;
}
#skills .progress-bar {
    background-color: #FE4A49;
}
#skills .progress-bar h5 {
    text-shadow: 1px 1px 1px #001730;
    margin-bottom: 3px;
}
/* EXPERIENCE */
#experience {
    background-color:#001730;
}
#experience .heading h2 {
    color: white;
}
.timeline {
    padding: 30px 10px;
    position: relative;
}
.timeline:before {
    content: " ";
    top: 0;
    bottom: 0;
    position: absolute;
    width: 5px;
    background-color: #333;
    left: 50%;
    margin-left: -2.5px;
}
.timeline > li {
    margin-bottom: 20px;
    position: relative;
}
.timeline > li:before,
.timeline > li:after {
    content: " ";
    display: table;
}
.timeline > li:after {
    clear: both;
}
.timeline li .timeline-badge {
    color: #FE4A49;
    width: 50px;
    line-height: 50px;
    font-size: 20px;
    text-align: center;
    position: absolute;
    top: 16px;
    left: 50%;
    margin-left: -25px;
    background-color: #ddd;
    border-radius: 50%;
}
.timeline-panel-container {
    width: 50%;
    float: left;
}
.timeline-panel-container-inverted {
    width: 50%;
    float: right;
}
.timeline-panel {
    width: 90%;
    float: right;
    margin-right: 40px;
    border: 1px solid #d4d4d4;
    border-radius: 7px;
    padding: 20px 25px;
    position: relative;
    box-shadow: 0 1px 6px rgba(0,0,0, 0.175);
    background-color: #fff;
}
.timeline-panel-container-inverted .timeline-panel {
    float: left;
    margin-left: 40px;
}
.timeline-panel:after {
    position:absolute;
    top: 27px;
    right: -14px;
    display:inline-block;
    border-top: 14px solid transparent;
    border-left: 14px solid #fff;
    border-right: 0 solid #fff;
    border-bottom: 14px solid transparent;
    content: " ";
}
.timeline-panel-container-inverted .timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
}
.timeline-heading h3 {
    margin-top: 5px;
    font-size: 20px;
}
.timeline-heading h4 {
    color: #FE4A49;
}



/* EDUCATION */
#education .heading h2 {
    color: #FE4A49;
    margin: 15px 0px;
}
.education-block {
    width:90%;
    margin: 0 auto;
    text-align: center;
    padding: 30px;
    background: #fff;
    border-radius: 5px;
    border: 1px solid #FE4A49;
    margin-bottom: 20px;
}
.education-block h5 {
    color: #888;
    font-size: 15px;
    margin-bottom: 15px;
}
.education-block span {
    font-size: 35px;
}
.education-block h3 {
    color: #FE4A49;
    margin: 15px 0px;
}
.education-block h4 {
    margin-bottom: 20px;
    font-weight: normal;
 }



 /* PORTFOLIO */
 #portfolio {
     background-color:#001730;
 }
 #portfolio .heading h2 {
    color: white;
}
#portfolio img {
    width: 100%;
    height: 100%;
   /* filter: grayscale(100%);
    -webkit-filter: grayscale(100%); */
}
/*#portfolio img:hover {
     filter: none;
    -webkit-filter: none; 
}*/
#portfolio .col-md-4 {
    margin-bottom: 20px;
}
.rounded{
    border-radius: 15px !important;
}
/* PORTFOLIO */

/* START RECOMMENDATIONS */
#recommendations .heading h2 {
    color: #FE4A49;
}
#myCarousel .carousel-item {
    padding: 30px 30px 90px;
}
#myCarousel .carousel-item h3 {
    color: #FE4A49;
    font-style: italic;
}
/* END RECOMMENDATIONS */

/* */
/* START FOOTER */
footer {
    background-color: #001730;
    padding: 20px 0 40px; /*TOP RIGHT-LEFT BOTTOM */
}
footer span {
    color: #FE4A49;
    font-size: 25px;
    line-height: 35px;
}
footer span:hover {
    font-size: 30px;
    color: #4AD7D1;
}
footer h5 {
    color: white;
    font-weight: normal;
}
/* END FOOTER */